<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style/style.css" />
    <title>Template</title>
  </head>
  <body>
    <section id="header">
      <div class="border-bottom">
        <div class="container">
          <div class="header">
            <h1><span class="logo">Крио</span>ГАЗ</h1>
            <ul class="navbar">
              <li><a href="#" class="active">Главная</a></li>
              <li><a href="#">О компании</a></li>
              <li><a href="#">Решения</a></li>
              <li><a href="#">Реализованные проекты</a></li>
              <li><a href="#">Контакты</a></li>
            </ul>
            <div class="contact">
              <p>
                +7 (812) 383-70-70 <br />
                <br />
                cryogas@cryogas.ru
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="middle-content">
          <div class="middle-left">
            <h2>ПРОЕКТЫ</h2>
            <p>Крупнейшие реализованные проекты</p>
            <div>
              В начале 2007 года завершено строительство системы газификации СПГ
              СХПР-5-63/0,6-1000, входящей в состав комплекса энергоснабжения
              Терминала по перегрузки светлых нефтепродуктов в Морском торговом
              порту г. Приморск.
            </div>
          </div>
          <div class="middle-right">
            <img src="images/Rectangle 5.2@2x.png" alt="" />
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="news">
          <div class="left">
            <h2>НОВОСТИ</h2>
            <p>Актуальные события</p>
          </div>
          <div class="right"><a href="#">ВСЕ НОВОСТИ</a></div>
        </div>
        <div class="box">
          <div class="box-content">
            <img src="images/Rectangle 5.2.png" alt="" />
            <div class="date">22/03/2021</div>
            <h3>Реализации проекта строительства</h3>
            <p>
              17 июня 2016 г. в рамках XX Петербургского международного
              экономического форума, между правительством Ленинградской области
              и руководством ЗАО «Криогаз» состоялось
            </p>
            <a href="#">ПОДРОБНЕЕ</a>
          </div>
          <div class="box-content">
            <img src="images/Rectangle 5.2.png" alt="" />
            <div class="date">22/03/2021</div>
            <h3>Реализации проекта строительства</h3>
            <p>
              17 июня 2016 г. в рамках XX Петербургского международного
              экономического форума, между правительством Ленинградской области
              и руководством ЗАО «Криогаз» состоялось
            </p>
            <a href="#">ПОДРОБНЕЕ</a>
          </div>
          <div class="box-content">
            <img src="images/Rectangle 5.2.png" alt="" />
            <div class="date">22/03/2021</div>
            <h3>Реализации проекта строительства</h3>
            <p>
              17 июня 2016 г. в рамках XX Петербургского международного
              экономического форума, между правительством Ленинградской области
              и руководством ЗАО «Криогаз» состоялось
            </p>
            <a href="#">ПОДРОБНЕЕ</a>
          </div>
        </div>
      </div>
    </section>
    <section id="footer">
      <div class="container">
        <div class="footer">
          <ul>
            <li><a href="#">Дисклеймер</a></li>
            <li><a href="#">Лицензии</a></li>
            <li><a href="#">Карта сайта</a></li>
          </ul>
          <p>
            © 2019 ЗАО «Криогаз» Россия, 196128, г. Санкт-Петербург, а/я 100.
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
