@media screen and (max-width:768px){
    /* .container {
        width: 90%;
        margin: auto; */
    }
    .header {
        flex-direction: column;
        justify-content: left;
        align-content: center;
        
    }
    .middle-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .middle-right img {
        object-fit: contain;
    }
    .middle-left { 
        
    }    
}