* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Tahoma, sans-serif;
}
body {
  background: #313131;
}
#header {
  background-image: url(../images/background.png);
  height: 100vh;
}
.left-info {
  position: absolute;
  width: 150px;
  height: 100vh;
  background: rgba(51, 51, 51, 0.75);
}
.vertical-p {
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  margin: auto;
  color: #c4c4c4;
}
.vertical-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vertical-icons a {
  color: rgba(255, 255, 255, 0.6);
  padding: 3px;
}
.line {
  height: 70px;
  width: 50%;
  border-right: 3px solid #c4c4c4;
  margin: 50px 0 30px 0;
}
.info-content {
  margin-top: 30vh;
}
.container {
  width: 70%;
  margin: auto;
  overflow: hidden;
}
#navbarText a {
  padding: 20px;
  letter-spacing: 0.1em;
}
.navbar-text {
  text-decoration: underline;
  text-decoration-color: #d1a954;
  text-decoration-thickness: 3px;
}
.banner {
  display: flex;
  justify-content: space-around;
}
.banner .left {
  max-width: 400px;
  margin-top: 30vh;
  color: #fff;
}
.banner .left h1 {
  letter-spacing: 0.2rem;
}
.banner .left p {
  font-size: 00.8rem;
  padding: 20px 0;
}
.banner .right {
  max-width: 400px;
  margin-top: 10vh;
}
.demo {
  display: none;
}
#info {
  margin-top: 150px;
  color: #fff;
}
#info h2 {
  text-align: center;
  padding-bottom: 100px;
  letter-spacing: 0.2rem;
}
.about-us {
  display: flex;
  justify-content: space-between;
}
.info-left {
  width: 30%;
}
.info-left p {
  font-size: 0.8rem;
  padding-top: 40px;
}
.info-middle {
  width: 30%;
  text-align: center;
}
.info-middle p {
  font-size: 0.9rem;
}
.gold {
  color: #d1a954;
}
.info-middle .chair-icon {
  padding: 40px 0 15px 0;
}
.info-middle .history-icon {
  padding: 25px 0 15px 0;
}
.info-right {
  width: 30%;
}
#images {
  text-align: center;
  margin-top: 100px;
  color: #fff;
}
#images h2 {
  padding-bottom: 100px;
  letter-spacing: 0.2rem;
}
.row {
  padding-left: 100px;
}
